@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-family: openSans;
}

.grid-main { 
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.grid-child {
  border: 1px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.grid-child:hover{
  background-color: whitesmoke;
  color: #212121;
}

.grid-child h4 {
  font-family: openSans;
  font-weight: 600;
}

.grid-child p {
  font-family: openSans;
  font-weight: 600;
  font-size: 15px;
}

.text-area {
  font-size: 20px;
  padding: 10px;
  font-family: openSans;
}

.action-btn {
  width: 200px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
}

.ai-image {
  margin-top: 10px;
}